* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 224);
}

.snare-pad {
  background: rgb(224, 160, 208);
}

.hihat-pad {
  background: rgb(160, 211, 160);
}

.kick-pad.active {
  background: rgb(59, 197, 231);
}

.snare-pad.active {
  background: rgb(218, 56, 177);
}

.hihat-pad.active {
  background: rgb(79, 201, 79);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

.mute.active {
  background: rgb(189, 181, 181);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


/* -------------------------------------------------------MEDIA QUERY -------------------------------------------------------------*/
@media only screen and (max-width: 1300px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0.5rem;
  }
  .play {
    padding: 0.5rem 1rem;
  }
  .tempo p {
    margin: 1rem;
  }
  select {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .controls button {
    padding: 0.5rem;
  }
  h1 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1000px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 0.5rem;
  }
  .play {
    padding: 0.5rem 1rem;
  }
  .tempo p {
    margin: 1rem;
  }
  select {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .controls button {
    padding: 0.5rem;
  }
  h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
  }
  .play {
    padding: 0.5rem 1rem;
  }
  .tempo p {
    margin: 1rem;
  }
  select {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .controls button {
    padding: 0.5rem;
  }
  h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .kick-pad,
  .snare-pad,
  .hihat-pad {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem 0.2rem;
  }
  .play {
    padding: 0.5rem 1rem;
  }
  .tempo p {
    margin: 1rem;
  }
  select {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .controls button {
    padding: 0.5rem;
  }
  .controls {
    margin: 0 0.7rem;
  }
  h1 {
    font-size: 1rem;
  }
  .hihat-track,
  .snare-track,
  .kick-track {
    width: 100%;

    margin-top: 3.5rem;
  }
}
